.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: 403px;
  gap: 50px 48px;
  width: 944px;
  margin: 0 auto;

  justify-items: center;
  justify-content: center;

}
